*{
	font-family: 'Montserrat', sans-serif;
}
.controls{
	position: absolute;
    left: 0;
    top: 0;
    background: transparent;
	display: flex;
	padding: 20px;
	gap: 10px;
	flex-direction: column;
}
.controls button{
	width: 30px;
	height: 30px;
	border-radius: 10px;
	background-color: #fff;
	color: #000;
	display: flex;
	align-items: center;
	justify-content: center;
	border: none;
	font-family: 'Montserrat';
	font-weight: bold;
}
.controls #reset{
	width: auto	;
}
.dark-blue-class{
	background-color: #141B2D;
}
.connect-wallet{
	background: linear-gradient(86.89deg, #ED691B 6.51%, #F18431 107.15%);
	border-radius: 10px;
	padding: 9px 16px 11px;
	min-width: 146px;
	height: 41px;
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: 21px;
	color: #F2F2F2 !important;
	text-decoration: none !important;
	margin-right: 22px;
	text-align: center;
	cursor: pointer !important;
}
.h-50{
	min-height: 60px !important;
}
.big_logo{
	display: inline-block;
}
.small_logo{
	display: none;
}
.menu_hamburger-x{
	display: none;
}
.footer-logo{
	text-align: left;
}
.menu_hamburger, .menu_hamburger-x{
	display: none;
}
#town-map{
	transform:scale(2);
}
@media only screen and (max-width: 762px) {
	#town-map{
		transform:scale(5);
		transform-origin:110px center;
	}
	.menu_hamburger{
		display: inline-block;
	}
	.h-50{
		justify-content: center;
	}
	.menu{
		height: 200px !important;
		position: absolute !important;
		right: 100%;
		z-index: 1;

	}
	.about h2{
		padding-top: 20px !important;
	}
	.about p{
		padding-bottom: 50px !important;
	}
	.big_logo{
		display: none;
	}
	.small_logo{
		display: inline-block;
		height: 40px;;
	}
	.connect-wallet{
		padding: 9px 16px 11px;
		/* min-width: 126px; */
		height: 41px;
		font-family: Montserrat;
		font-style: normal;
		font-weight: 800;
		font-size: 12px;
		position: absolute;
		top: 5px;
		right: 20px;
		margin-right: 22px;
		text-align: center;
	}
	.footer-logo{
		text-align: center;
	}
	#mydiv{
		max-height: 420px !important;
	}
	
}

.menu{
	width: 100%;
	height: 100vh;
	background: #1A233B;
	position: relative;
}
.menu-item{
	padding: 20px 24px;
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	line-height: 24px;
	color: #97A8D6;
	border-bottom: 1px solid #141B2D;
	cursor: pointer;
}
.menu-item a{
	color: #97A8D6;
	text-decoration: none;
}
.menu-item a:hover{
	color:white;
}
.bg-blue{
	background-color: #2E384F;
}
.text-blue{
	color: #97A8D6
}
.about{
	width: 100%;
	background-color: #2E384F;
	min-height: 600px;
}
.about h2{
	padding-top: 176px;
	padding-bottom: 24px;
}

/* For svg map */
svg{
	transform:scale(1);
	position:absolute;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	text-align: center;
}
#mydiv{
	position:relative;
	height: 800px;
}
.info-modal{
	position: absolute;
	background: #1a243b;
	border-radius: 10px;
	display: none;
}
.info-modal ul{
	list-style: none;
	padding-left: 0;
	padding: 20px 50px 20px 20px;
	margin-bottom: 0;
}
.info-modal li{
	color: #fff;
	font-family: Montserrat;
	font-weight: 500;
}
.info-modal li.build_name{
	font-weight: bold;
	margin-bottom: 5px;
}
.info-modal li:not(:first-child), .info-modal li:not(:first-child) a {
	color: #98a8d6;
}
/* .info-modal:after{
	position: absolute;
	content: '';
	width: 0px;
	height: 0px;
	border-top: 5px solid transparent;
	border-bottom: 5px solid transparent;
	border-left: 5px solid #1a243b;
	right: -5px;
	bottom: 10px;
} */
